* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 40px 40px;
    min-height: 100vh;
    background: transparent;
    overflow-x: hidden;
}

.leftColumn {
    flex: 2.5; 
    max-width: 1100px;
    min-width: 0;
}

.rightColumn {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 380px; 
}

.sidePanel {
    background-color: rgba(50, 105, 27, 0.85);
    border-radius: 25px;
    padding: 25px; 
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sidePanel h3 {
    margin-top: 0;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

.boardContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.deskPair {
    display: flex;
    gap: 12px;
}

.deskRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap; 
    gap: 10px;
}

.sidebarLogo {
    max-width: 100%;
    height: auto;
    display: block;
}

.bottomLogoContainer {
    margin-top: auto;
    padding-top: 20px;
    text-align: right;
}

.viewBtn, .createBtn {
    width: 100%;
    background-color: #d9e3d8;
    color: #3d663a;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.fullWidthSelect {
    width: 100%;
    min-width: 230px;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    font-size: 14px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}