.greenBoard {
    background-color: #3d663a;
    padding: 30px;
    border-radius: 20px;

    width: 100%;
    max-width: 1100px; 
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.layoutContainer > div:nth-child(2n) {
  margin-bottom: 40px;
}

.boardTitle {
    color: white;
    font-size: 3rem;
    margin: 0;
    font-family: sans-serif;
}

.label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
}

.deskPair {
  display: flex;
  gap: 0px; 
}

.deskRow {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.deskPair {
  display: flex;
  gap: 0px;
}