@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.label {
    font-family: "Inter", sans-serif;
    color: #3a7d44;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 1rem;
    display: flex;
    justify-content: left;
    margin-left: 10px;
}

.roundedInput {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
    outline: none;
    background: white;
    box-sizing: border-box;
    color: black;
}

.roundedInput:focus {
    border-color: #3a7d44;
    box-shadow: 0 0 5px rgba(58, 125, 68, 0.3);
}