.description {
    color: #2e7d32;
    margin-bottom: 25px;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 0px
}

.editHeader {
    margin: 0.7rem;
    display: flex;
    justify-content: center;
}

.editHeader h2 {
    color: #2e7d32;
    font-size: 2rem;
}

.reservations {
    margin: 2.4rem 0 0 0;
    padding: 0.5rem 2rem;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
    background-color: #557C45;
    border-radius: 0.7rem;
    border: 0.4rem solid black;
}

.reservations h1 {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1.2rem 0;
}

.header {
  display: flex;
  margin: 1rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.entryLabel {
  font-size: 2rem;
  font-weight: bold;
  padding-right: 1.5rem;
}

.reservationSlots {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.reservationSlot {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}

.pill {
  background-color: #E2E8DC;
  color: #385E33;
  padding: 0.75rem;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 0.35rem 0.7rem 0.35rem 0.35rem;
}

.reservationContainer {
    margin-bottom: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.buttons button {
    width: 48%;
    font-size: 1.2rem;
}