* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px; 
    padding: 40px 40px;
    min-height: 100vh;
    background: transparent;
}

.InputGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.InputGroup label {
    font-size: 1.1rem;
    font-weight: 500;
}

.InputGroup select, .InputGroup input {
    width: 180px;
    height: 35px;
    border-radius: 8px;
    border: none;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #32691b;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1rem;
    outline: none;
}

.emailContainer {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 6px;
}

.emailContainer label {
  font-weight: 600;
  color: white;
  font-size: 0.95rem;
}

.emailInput {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 0.95rem;
}

.emailInput:focus {
  outline: 2px solid #f6d365;
}