.login {
  background-image: url('../../../assets/dlsu-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headertext h1 {
  color: white;
  font-size: 3rem;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.left {
  margin-top: 20vh;
  max-width: 50%;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 30px;
  width: 30vw;
  text-align: center;
  backdrop-filter: blur(3px);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #2e7d32;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold italic;
}

.signup {
  display: block;
  color: #2e7d32;
  text-decoration: underline;
}

.remember {
  margin-top: 15px;
  margin-right: 10px;
}

.rememberme {
  color: #2e7d32;
  margin-left: 10px;
}

.tempAdmin {
  margin-top: 60px;
}