.login {
  background-image: url('../../../assets/dlsu-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.0);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: flex-start;
}

.headertext h1 {
  color: white;
  font-size: 3rem;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.left {
  margin-top: 50px;
  max-width: 50%;
}

.card {
  background: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 30px;
  height: 65vh;
  width: 350px;
  text-align: center;
  backdrop-filter: blur(3px);
}

.card h2 {
  color: #2e7d32;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold italic;
}

.signup {
  display: block;
  margin-top: 30px;
  color: #2e7d32;
  text-decoration: underline;
}

.remember {
  margin-top: 15px;
  margin-right: 10px;
}

.rememberme {
  color: #2e7d32;
  margin-left: 10px;
}

.tempAdmin {
  margin-top: 50px;
}